.connectionLine {
	-fx-stroke: #AAAAAA;
	-fx-stroke-width: 1;
}
.connectionLine:hover {
	-fx-stroke: #FF8000;
}

.lineHover {
	-fx-text-fill: #FF8000;
}
.lineDehover {
	-fx-text-fill: -fx-text-background-color;
}

.connectionCircle {
	-fx-fill: null;
	-fx-stroke: #000000;
}

.existent {
	-fx-background-color: #f5ed9a;
}

.nonExistent {
	-fx-background-color: #ffb8bf;
}

.key {
	-fx-stroke-width: 2px;
}