.connectionLine {
	-fx-stroke: #AAAAAA;
	-fx-stroke-width: 1;
}
.connectionLine:hover {
	-fx-stroke: #DC143C;
}

.lineHover {
	-fx-text-fill: #DC143C;
}
.lineDehover {
	-fx-text-fill: -fx-text-background-color;
}

.connectionCircle {
	-fx-fill: null;
	-fx-stroke: #000000;
}

.existent {
	-fx-background-color: #f5ed9a;
}

.nonExistent {
	-fx-background-color: #ffb8bf;
}

.key {
	-fx-stroke-width: 2px;
}

.contentName {
	
}
.contentValue {
	-fx-text-fill: #AAAAAA;
	-fx-text-box-border: transparent;
	-fx-background-color: -fx-control-inner-background;
}
.serviceInput {
	-fx-font-size: 8pt;
	-fx-text-fill: #AAAAAA;
}


AnchorPane {
	-fx-background-color: white;
}
.root {
	-fx-background: white !important;
	-fx-control-inner-background: white !important;
	-fx-dark-text-color: #5c5c5c !important;
}